*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aa{  
  /* background-color: red; */
  text-align: center;
  transition: all ease 1s;

}
#aa h1{
  font-family: sans-serif;
  font-size: 3vw;
  color: #000;
  display: inline-block;
  text-align: center;
  /* background-color: rgb(151, 113, 113); */
}

#aa:hover #border{
  animation-name: load1;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  /* width: 0%; */
  width: 100%;
}
#border{
  height: 10px;
  width: 0%;
  background-color: blue;
}
@keyframes load1 {
  0%{
    width: 0%;
  }
  /* 10%{
    width: 10%;
  }
  20%{
    width: 20%;
  }
  30%{
    width: 30%;
  }
  40%{
    width: 40%;
  } */
  50%{
    width: 50%;
  }
  /* 60%{
    width: 60%;
  }
  70%{
    width: 70%;
  }
  80%{
    width: 80%;
  }
  90%{
    width: 90%;
  } */
  100%{
    width: 100%;
  }
}